html{
	background: rgb(208,229,255);
	background: linear-gradient(180deg, rgba(208,229,255,1) 45%, rgb(160, 231, 255) 100%);

}
.container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 5% auto;
	align-items: center;
	border: 1px solid black;
	/*padding-bottom: 5%;*/
}

.first,.second,.third{
	width: 50%;
	margin: 2% 2%;
	/*justify-content: flex-start;*/
}
button{
	/*margin-right: 20%;*/
}
.output{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.form form{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.form input{
	margin-bottom: 5%;
}
